
body{
    overflow-x: hidden;
}
.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active{
    border-left: #444 3px solid;
    border-right: #444 3px solid;
}

.carousel-item{
    height: 450px;
}
.carousel-image-2{
    background : url('../img/teamfull.jpg');
    background-size: cover;
}
.carousel-image-1{
    background : url('../img/codeiiestlogo.png');
    background-color: #212529;
    background-size: cover;
}
.carousel-image-3{
    background : url('../img/iiestlogo.png');
    background-size: content;
}

.carousel-control-next-icon ,.carousel-control-prev-icon{
    height: 100px;
    width: 100px;
    opacity: 0.3;
    color: #212529 !important;
}

.abcd{
    justify-content: center;
}

.homeic{
    /* background-color: grey; */
    background-color: #212529;
}

#infosection{
    position: relative;
    min-height: 280px;
    background: url('../img/outlay.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.dark-overlay{
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.header-overlay{
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}
.footer{
    background-color: #000 !important;
    color : #fff !important;
}

.contact-card , .contact-form{
    background-color: #3b5998;
    border-radius: 10px 10px 10px 10px;


}
.get-box-shadow{
    box-shadow: 10px 10px 10px grey;
    border-style: solid;
}
.get-text-shadow{
    text-shadow: 1px 1px rgb(148, 148, 148);
}

#page-header{
    position: relative;
    min-height: 100px;
    background: url('../img/header.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    text-align: center;
    color: #fff;
}

.btn-danger-light{
    background-color: rgb(177, 23, 23);
}

/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.1); 
	transform: scale(1.1);
}
